{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="foo,bar" />
        <meta name="description" content="foo" />
        <meta charset="utf-8" />
        <link rel="stylesheet" href={% static 'normalize.css' %} />
        <link rel="stylesheet" href={% static 'style.css' %} />
        <title>
            {% block title %}
                {% trans "Messenger" %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "chat:index" %}" class="nav-link only-text-link">{% trans "Chats List" %}</a>
                <div class="nav-right">
                    {% get_current_language as current_language_code %}
                    {% get_available_languages as languages %}
                    {% get_language_info_list for languages as languages_info %}
                    <p>{% trans "Language" %}:</p>
                    <ul class="languages-list">
                        {% for language in languages_info %}
                            <li>
                                <a href="/{{ language.code }}/"
                                   class="language-link only-text-link
                                          {% if language.code == current_language_code %}selected-language{% endif %}">{{ language.name_local }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if request.user.is_authenticated %}
                        <h5 class="username-text">{{ request.user.username }}</h5>
                        <ul class="nav-links">
                            <li>
                                <a href="{% url "users:logout" %}" class="nav-link btn logout-btn">{% trans "Log out" %}</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        {% block script %}
        {% endblock script %}
    </body>
</html>
