{% extends "common/base.html" %}
{% load i18n %}
{% block content %}
    <section class="form-section">
        <section class="center-section">
            <form method="post">
                {% csrf_token %}
                {{ chat_room_members_form.as_p }}
                <div class="form-buttons">
                    <a class="btn" href="{% url "chat:index" %}">{% trans "Cancel" %}</a>
                    <input class="btn" type="submit" value="{% trans "Add" %}" />
                </div>
            </form>
        </section>
    </section>
{% endblock content %}
