{% extends "common/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <section class="messenger-section">
        <section class="chats-list-section">
            {% for list_room_id, chat_name, chat_last_msg, num_unread_messages in chats_info %}
                <a href="{% url 'chat:room' list_room_id %}"
                   id="{{ list_room_id }}"
                   class="chat-card
                          {% if list_room_id == room_id %}selected-chat-card{% endif %}
                          {% if num_unread_messages > 0 %}unread{% endif %}">
                    <h5 class="chat-card-chat-name">{{ chat_name }}</h5>
                    <div class="msg-content-and-msgs-counter">
                        <p class="text-small chat-card-msg-content">
                            {% if chat_last_msg.content %}{{ chat_last_msg.content }}{% endif %}
                        </p>
                        {% if num_unread_messages > 0 %}<p class="chat-card-unread-msgs-counter">{{ num_unread_messages }}</p>{% endif %}
                    </div>
                </a>
            {% endfor %}
            <a class="create-room-float-button" href="{% url "chat:create_room" %}">
                <img class="add-room-icon"
                     src="{% static "add.svg" %}"
                     alt="add room icon"
                     height="50px"
                     width="50px" />
            </a>
        </section>
        <section class="chat-section">
            {% block chat_section_block %}
                <div class="no-chat-selected-text">
                    <h3>{% trans "Select a chat to start messaging" %}</h3>
                </div>
            {% endblock chat_section_block %}
        </section>
    </section>
{% endblock content %}
