{% extends 'common/base.html' %}
{% load i18n %}
{% block content %}
    <section class="messenger-section">
        <section class="chats-list-section">
            {% for room_id, chat_name, chat_last_msg in chats_info %}
                <a href="{% url 'chat:room' room_id %}"
                   id="{{ room_id }}"
                   class="chat-card">
                    <h3>{{ chat_name }}</h3>
                    <p>{{ chat_last_msg }}</p>
                </a>
                <br>
            {% endfor %}
        </section>
        <section class="chat-section">
            {% block chat_section_block %}
                <div class="no-chat-selected-text">
                    <h3>{% trans "Select a chat to start messaging" %}</h3>
                </div>
            {% endblock chat_section_block %}
        </section>
    </section>
{% endblock content %}
