{% extends 'chat/index.html' %}
{% load static %}
{% load i18n %}
{% block chat_section_block %}
    <div id="chat-log" class="chat-log"></div>
    <div class="message-input">
        <input id="chat-message-input"
               type="text"
               placeholder="{% trans "Write a message..." %}" />
        <button id="chat-message-submit" type="submit">
            <img src="{% static "send.svg" %}" alt="alt" height=34 width=34 />
        </button>
    </div>
{% endblock chat_section_block %}
{% block script %}
    <script>
        var username = "{{ username }}";
        var roomId = "{{ room_id }}";

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomId +
            '/'
        );
        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        function fetchMessages() {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages',
                'room_id': roomId,
                'username': username
            }));
        }

        function newMessage(author, content, dateStr) {
            let newMessageDiv = document.createElement('div');

            // Classes
            newMessageDiv.className = 'message-card';
            if (author == username) {
                newMessageDiv.classList.add('my-message-card');
            }

            // Author
            newMessageDiv.innerHTML = '<p class="message-author text-small">' + author + '</p>';
            // Content
            newMessageDiv.innerHTML += '<p class="message-content">' + content + '</p>';
            // Date
            newMessageDiv.innerHTML += '<p class="message-date text-small">' + dateStr + '</p>';

            document.querySelector('#chat-log').appendChild(newMessageDiv);
        }

        function _toString(number) {
            if (number < 10) {
                return "0" + number.toString();
            }
            return number.toString();
        }

        function constructDate(dateStr) {
            const date = new Date(dateStr);

            const minutes = _toString(date.getMinutes());
            const hourse = _toString(date.getHours());
            const day = _toString(date.getDate());
            const month = _toString(date.getMonth() + 1);
            const year = _toString(date.getFullYear());

            return hourse + ':' + minutes + ", " + day + '-' + month + '-' + year
        }

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i = 0; i < data['messages'].length; i++) {
                    dateStr = constructDate(data['messages'][i]['timestamp']);
                    newMessage(data['messages'][i]['author'], data['messages'][i].content, dateStr)
                    const p = "f";
                }
            } else if (data['command'] === 'new_message') {
                dateStr = constructDate(data['message']['timestamp']);
                newMessage(data['message']['author'], data['message'].content, dateStr)
            } else if (data['command'] === 'chats_list_message') {
                var chat = document.getElementById(data['room_id']);
                chat.parentNode.removeChild(chat);
                chat.querySelector("p").textContent = data["message"]["content"]
                if (!chat.classList.contains("unread") && !(chat.id == roomId)) {
                    chat.classList.add("unread");
                }
                document.querySelector('.chats-list-section').prepend(chat);
            }
            const chatLog = document.querySelector("#chat-log");
            chatLog.scrollTo(0, chatLog.scrollHeight);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username,
                'room_id': roomId,
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock script %}
