{% extends "chat/index.html" %}
{% load static %}
{% load i18n %}
{% block chat_section_block %}
    <div class="room-info-and-actions">
        <p class="caht-room-name">{{ room_name }}</p>
        <div class="chat-actions">
            <a href="{% url "chat:add_members" room_id %}">Add members</a>
        </div>
    </div>
    <div id="chat-log" class="chat-log"></div>
    <div class="message-input">
        <input id="chat-message-input"
               type="text"
               placeholder="{% trans "Write a message..." %}" />
        <button id="chat-message-submit" type="submit">
            <img src="{% static "send.svg" %}" alt="alt" height=34 width=34 />
        </button>
    </div>
{% endblock chat_section_block %}
{% block script %}
    <script>
        var username = "{{ username }}";
        var roomId = "{{ room_id }}";
        var msgsOffset = 0

        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host +
            '/ws/chat/' +
            roomId +
            '/'
        );
        chatSocket.onopen = function(e) {
            fetchMessages();
        }

        function fetchMessages() {
            chatSocket.send(JSON.stringify({
                'command': 'fetch_messages',
                'room_id': roomId,
                'username': username,
                'msgs_offset': msgsOffset
            }));
        }

        function cunstructMessage(author, content, dateStr) {
            let newMessageDiv = document.createElement('div');

            // Classes
            newMessageDiv.className = 'message-card';
            if (author == username) {
                newMessageDiv.classList.add('my-message-card');
            }

            // Author
            newMessageDiv.innerHTML = '<p class="message-author text-small">' + author + '</p>';
            // Content
            newMessageDiv.innerHTML += '<p class="message-content">' + content + '</p>';
            // Date
            newMessageDiv.innerHTML += '<p class="message-date text-small">' + dateStr + '</p>';

            return newMessageDiv;
        }

        function newMessage(author, content, dateStr) {
            document.querySelector('#chat-log').appendChild(cunstructMessage(author, content, dateStr));
        }

        function oldMessage(author, content, dateStr) {
            document.querySelector('#chat-log').prepend(cunstructMessage(author, content, dateStr));
        }

        function _toString(number) {
            if (number < 10) {
                return "0" + number.toString();
            }
            return number.toString();
        }

        function constructDate(dateStr) {
            const date = new Date(dateStr);

            const minutes = _toString(date.getMinutes());
            const hourse = _toString(date.getHours());
            const day = _toString(date.getDate());
            const month = _toString(date.getMonth() + 1);
            const year = _toString(date.getFullYear());

            return hourse + ':' + minutes + ", " + day + '-' + month + '-' + year
        }

        chatSocket.onmessage = function(e) {
            var scrollToBottom = true;
            var data = JSON.parse(e.data);
            if (data['command'] === 'messages') {
                for (let i = 0; i < data['messages'].length; i++) {
                    dateStr = constructDate(data['messages'][i]['timestamp']);
                    newMessage(data['messages'][i]['author'], data['messages'][i].content, dateStr)
                    const p = "f";
                }
                const messagesLenght = data['messages'].length;
                msgsOffset = msgsOffset + messagesLenght;
            } else if (data['command'] === 'new_message') {
                dateStr = constructDate(data['message']['timestamp']);
                newMessage(data['message']['author'], data['message'].content, dateStr);
                msgsOffset = msgsOffset + 1;
            } else if (data['command'] === 'chats_list_message') {
                var chat = document.getElementById(data['room_id']);
                chat.parentNode.removeChild(chat);

                chat.querySelector("p").textContent = data["message"]["content"]

                // If this is not current chat, updates unread properties
                if (!(chat.id == roomId)) {
                    // Marks card as unread
                    if (!chat.classList.contains("unread")) {
                        chat.classList.add("unread");
                    }

                    // Updates unread counter
                    var unreadMsgCounter = chat.querySelector("div.msg-content-and-msgs-counter > p.chat-card-unread-msgs-counter");
                    if (unreadMsgCounter) {
                        var a = unreadMsgCounter.textContent;
                        var currentCounterNumber = parseInt(unreadMsgCounter.textContent, 10);

                        var newMsgCoutner = currentCounterNumber + 1;
                        unreadMsgCounter.textContent = newMsgCoutner;
                    } else {
                        var newElement = document.createElement('p');
                        newElement.className = 'chat-card-unread-msgs-counter';
                        newElement.textContent = 1;
                        chat.querySelector(".msg-content-and-msgs-counter").appendChild(newElement);
                    }
                }
                document.querySelector('.chats-list-section').prepend(chat);
            } else if (data['command'] == 'old_messages') {
                for (let i = data['messages'].length - 1; i >= 0; i--) {
                    dateStr = constructDate(data['messages'][i]['timestamp']);
                    oldMessage(data['messages'][i]['author'], data['messages'][i].content, dateStr)
                    const p = "f";
                }
                const messagesLenght = data['messages'].length;
                msgsOffset = msgsOffset + messagesLenght;
                scrollToBottom = false;
            } else if (data['command'] == 'reload_page') {
                location.reload();
            }

            if (scrollToBottom) {
                const chatLog = document.querySelector("#chat-log");
                chatLog.scrollTo(0, chatLog.scrollHeight);
            }
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'command': 'new_message',
                'message': message,
                'from': username,
                'room_id': roomId,
            }));
            messageInputDom.value = '';
        };

        const chatContainer = document.querySelector("#chat-log");
        let lastScrollTop = 0;
        let isScrolling = false;

        chatContainer.addEventListener('scroll', function() {
            if (isScrolling) {
                return; // If scrolling is already in progress, exit early
            }

            isScrolling = true;

            setTimeout(function() {
                const scrollTop = chatContainer.scrollTop;
                const elementHeight = chatContainer.scrollHeight / chatContainer.childElementCount;
                const fifthElementOffset = 4 * elementHeight;

                if (scrollTop < lastScrollTop) {
                    if (scrollTop <= fifthElementOffset) {
                        fetchMessages();
                    }
                }
                lastScrollTop = scrollTop;
                isScrolling = false;
            }, 100);
        });
    </script>
{% endblock script %}
