{% extends "common/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Login" %}
{% endblock title %}
{% block content %}
    <section class="authentication">
        <h2>{% trans "" %}</h2>
        <form method="post" class="authentication-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Log In" %}</button>
        </form>
        <h5>{% trans "OR" %}</h5>
        <a href="{% url "users:register" %}">{% trans "Registern a new account" %}</a>
    </section>
{% endblock content %}
