/* 
==========
Global CSS
==========
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Scrollbar */
/* Width */
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey-500);
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-600);
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;

  /* grey */
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;

  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);

  --header-height: 48px;
  --message-input-height: 50px;
  --room-info-and-actions-height: 40px;
}

body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  color: var(--textColor);
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

.text {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
  text-align: center;
}
.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-3);
}
.btn-hipster {
  color: var(--primary-500);
  background: var(--primary-200);
}
.btn-hipster:hover {
  color: var(--primary-200);
  background: var(--primary-700);
}
.btn-block {
  width: 100%;
}

.only-text-link:link {
  color: var(--black);
}

.only-text-link:visited {
  color: var(--black);
}

.only-text-link:hover {
  color: var(--black);
}

.only-text-link:active {
  color: var(--black);
}

.only-text-link:link,
.only-text-link:visited {
  text-decoration: none;
}

/* 
==========
Header
==========
*/
header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: var(--primary-400);
}
nav {
  display: flex;
  align-items: center;
}

/* Languages */
.languages-list {
  display: flex;
}
.languages-list li {
  margin: 0 8px;
}
.language-link {
  text-transform: capitalize;
}
.selected-language {
  font-weight: 500;
}

/* User */
.username-text {
  margin-left: 32px;
}
.nav-links {
  margin-right: 16px;
}
.nav-links li {
  margin: 0 8px;
}

/* 
==========
Chats list
==========
*/
.messenger-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: calc(100vh - var(--header-height));
}

.chats-list-section {
  position: relative;
  background-color: var(--primary-300);
  overflow-y: auto;
  min-width: 150px;
}

.no-chat-selected-text {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.no-chat-selected-text h3 {
  width: fit-content;
}
.unread {
  background-color: var(--primary-500);
}
.msg-content-and-msgs-counter {
  display: flex;
  padding: 2px 0;
}

.chat-card {
  display: block;
  color: var(--textColor);
  padding: 8px 8px;
}
.selected-chat-card {
  background-color: var(--primary-400);
  font-weight: 500;
}
.chat-card h5 {
  line-height: 1.1;
}
.chat-card-msg-content {
  color: var(--grey-700);
}
.chat-card-msg-content,
.chat-card-chat-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-transform: none;
}

.chat-card:hover {
  background-color: var(--primary-200);
}

.chat-card-msg-content {
  width: 100%;
  margin: auto 0;
}
.chat-card-unread-msgs-counter {
  color: var(--grey-200);
  background-color: var(--grey-600);
  padding: 2px 6px;
  border-radius: 50%;
}

.create-room-float-button {
  position: fixed;
  bottom: 25px;
  right: 76%;
}
.add-room-icon {
  filter: invert(14%) sepia(55%) saturate(4402%) hue-rotate(240deg)
    brightness(92%) contrast(84%);
}

/* 
==========
Chat
==========
*/
.room-info-and-actions > * {
  color: var(--white);
}
.room-info-and-actions {
  height: var(--room-info-and-actions-height);
  background-color: var(--primary-600);
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat-actions > * {
  color: var(--white);
}

.chat-and-input {
  height: calc(100% - var(--room-info-and-actions-height));
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.chat-section {
  background-color: var(--primary-800);
}
.chat-log {
  max-height: calc(
    100vh - var(--header-height) - var(--message-input-height) -
      var(--room-info-and-actions-height)
  );
  overflow-y: scroll;
  padding: 0 8px;
}
.message-card {
  color: var(--white);
  background-color: var(--primary-600);
  margin: 16px 0;
  padding: 8px;
  border-radius: 12px;
  max-width: 60%;
}
.my-message-card {
  margin-left: auto;
  background-color: var(--primary-700);
}
.message-author {
  color: var(--primary-200);
  margin-bottom: 6px;
  font-weight: 500;
}
.message-content {
  padding-right: 116px;
}
.message-date {
  width: fit-content;
  margin-left: auto;
  color: var(--grey-300);
}

.message-input {
  height: var(--message-input-height);
  background-color: var(--primary-500);
  padding: 8px 8px;
  display: flex;
}
#chat-message-input {
  color: var(--white);
  background-color: transparent;
  margin-right: 8px;
  width: 100%;
  border: none;
}
#chat-message-input:focus {
  outline: none;
}
#chat-message-input::placeholder {
  color: var(--grey-400);
}
#chat-message-submit {
  background-color: transparent;
  border: none;
  display: flex;
}
#chat-message-submit:hover {
  background-color: var(--primary-300);
  border-radius: 8px;
}
#chat-message-submit img {
  filter: invert(19%) sepia(96%) saturate(7373%) hue-rotate(247deg)
    brightness(96%) contrast(110%);
}

/* 
==========
Authentication
==========
*/
.authentication > * {
  margin: 16px 0;
}
.authentication-form > * {
  margin: 8px 0;
}

/* 
==========
Form
==========
*/
.form-section {
  height: calc(100vh - var(--header-height));
  background-color: var(--primary-300);
}
